<p>Invited <%= @resource.email %></p>

<p><%= link_to "Accept invitation", "http://localhost:8080/accept?invitation_token=#{@token}" %></p>

<% if @resource.invitation_due_at %>
  <p>Expiration date: <%= @resource.invitation_due_at %></p>
<% end %>
